<md-content>
  <section>
    <md-toolbar md-scroll-shrink md-theme="purple">
      <div class="md-toolbar-tools inner-header">
        <h3>{{ 'Admin' | translate }}</h3>
      </div>
    </md-toolbar>
    <div class="admin-content">
      <ul class="sb-staff">
        <li class="fab brown" ng-click="showTagDialog($event)" ng-if="user.group == 'admin' || user.group == 'staff'">
          <i class="fa fa-tags"></i>
          <md-tooltip class="siderbar-tooltip">{{ 'Tag' | translate }}</md-tooltip>
        </li>
        <li class="fab purple" ng-click="showBangumiDialog($event)" ng-if="user.group == 'admin' || user.group == 'staff'">
          <i class="fa fa-video-camera"></i>
          <md-tooltip class="siderbar-tooltip">{{ 'Bangumi' | translate }}</md-tooltip>
        </li>
      </ul>
      <ul class="sb-admin" ng-if="user.group == 'admin'">
        <li class="fab brown" ng-click="showAnnouncementDialog($event)">
          <i class="fa fa-newspaper-o"></i>
          <md-tooltip class="siderbar-tooltip">{{ 'Announcement' | translate }}</md-tooltip>
        </li>
      </ul>
    </div>
  </section>
</md-content>
