<md-content class="bangumi-show">
    <md-toolbar md-scroll-shrink md-theme="pink">
      <div layout="row" layout-align="space-between center" class="md-toolbar-tools inner-header">
        <h3>
          <span>{{ 'Bangumi Timeline' | translate }}</span>
        </h3>
      </div>
    </md-toolbar>
    <section>
      <div id="bangumi-timeline-embed"></div>
    </section>
    <md-toolbar md-scroll-shrink md-theme="purple">
        <div class="md-toolbar-tools inner-header">
            <h3>
                {{ 'Bangumi List' | translate }}
            </h3>
        </div>
    </md-toolbar>
    <section class="bangumi-week" ng-repeat="day in weekDays track by $index">
        <md-toolbar md-scroll-shrink md-theme="{{ weekDayThemes[$index] }}">
            <div layout="row" layout-align="space-between center" class="md-toolbar-tools inner-header">
                <h3>
                    <span>{{ day | translate }}</span>
                </h3>
            </div>
        </md-toolbar>
        <div class="inner-content">
            <md-list class="torrent-list tag-list">
                <md-item ng-repeat="bgm in bangumis[$index]">
                    <md-item-content>
                        <div class="md-tile-left">
                            <img ng-src="{{ bgm.icon }}" class="face" alt="{{ bgm.name }}">
                        </div>
                        <div class="md-tile-content">
                            <a ui-sref="tag({ tag_id: bgm.tag_id })">
                                <h3>{{ bgm.tag ? (bgm.tag | tagname) : bgm.name }}</h3>
                            </a>
                            <p>
                                {{ bgm.credit }} | {{ bgm.startDate | amDateFormat:'YYYY/MM/DD HH:mm:ss' }} - {{ bgm.endDate | amDateFormat:'YYYY/MM/DD HH:mm:ss' }}
                            </p>
                            <h4>
                                <md-item ng-repeat="team in teams[bgm.tag_id]">
                                    <md-button class="flat-button" md-theme="{{ weekDayThemes[$index] }}" ui-sref="search({ tag_id: bgm.tag_id + '+' + team.tag_id })">{{ team.tag ? (team.tag | tagname) : team.name }}</md-button>
                                </md-item>
                            </h4>
                        </div>
                    </md-item-content>
                    <md-divider md-inset></md-divider>
                </md-item>
            </md-list>
        </div>
    </section>
</md-content>
