<md-content>
    <md-toolbar md-scroll-shrink md-theme="purple">
        <div class="md-toolbar-tools inner-header">
            <h3>
                {{ 'Bangumi List' | translate }}
            </h3>
        </div>
    </md-toolbar>
    <div layout="column inner-content" flex layout-fill>
        <md-content>
            <section ng-repeat="day in weekDays track by $index">
                <md-toolbar md-scroll-shrink md-theme="weekDayThemes[$index]">
                    <div layout="row" layout-align="space-between center" class="md-toolbar-tools inner-header">
                        <h3>
                            <span>{{ day | translate }}</span>
                        </h3>
                    </div>
                </md-toolbar>
                <md-list layout="column">
                    <md-item ng-repeat="bgm in bangumis[$index]">
                        <md-item-content>
                            <div class="md-tile-left">
                                <img ng-src="{{ bgm.icon }}" class="face" alt="{{ bgm.name }}">
                            </div>
                            <div class="md-tile-content">
                                <a ui-sref="tag({ tag_id: bgm.tag_id })">
                                    <h3>{{ bgm.name }}</h3>
                                </a>
                                <h4>
                                    {{ bgm.credit }}
                                </h4>
                                <p>
                                    {{ bgm.startTime }}
                                </p>
                            </div>
                        </md-item-content>
                    </md-item>
                    <md-divider md-inset></md-divider>
                </md-list>
            </section>
        </md-content>
    </div>
</md-content>
