<md-dialog aria-label="Bangumi" class="bangumi-dialog">
  <md-subheader class="md-sticky-no-effect" ng-class="{'md-red-theme': jobFailed}">
    {{ 'Bangumi' | translate }}&nbsp;&nbsp;
    <md-button class="md-dialog-close" ng-click="close()"><i class="fa fa-close"></i></md-button>
  </md-subheader>

  <section class="toolbar">
    <md-toolbar md-scroll-shrink>
      <div class="inner-header">
        <md-tabs md-selected="data.selectedIndex" class="md-tabs-full-height">
          <md-tab id="tab1" aria-controls="tab1-content">
            {{ 'New Bangumi' | translate }}
          </md-tab>
          <md-tab id="tab2" aria-controls="tab2-content">
            {{ 'Bangumi Management' | translate }}
          </md-tab>
        </md-tabs>
      </div>
    </md-toolbar>
  </section>

  <md-content>
    <div class="inner-content">
      <div layout="row">
        <div flex="50">
          <ng-switch on="data.selectedIndex" class="tabpanel-container">
            <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0">
              <md-text-float label="{{ 'Bangumi Name' | translate }}" ng-model="newbangumi.name"></md-text-float>
              <md-text-float label="{{ 'Bangumi Credit' | translate }}" ng-model="newbangumi.credit"></md-text-float>
              <p>{{ 'Bangumi Icon' | translate }}</p>
              <input type="file" fileread="newbangumi.icon" />
              <p>{{ 'Bangumi Cover' | translate }}</p>
              <input type="file" fileread="newbangumi.cover" />
            </div>
            <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1">
              <md-text-float label="{{ 'Bangumi Name' | translate }}" ng-model="bangumi.name"></md-text-float>
              <md-text-float label="{{ 'Bangumi Credit' | translate }}" ng-model="bangumi.credit"></md-text-float>
              <p>{{ 'Bangumi Icon' | translate }}</p>
              <input type="file" fileread="bangumi.icon" />
              <p>{{ 'Bangumi Cover' | translate }}</p>
              <input type="file" fileread="bangumi.cover" />
            </div>
          </ng-switch>
        </div>
        <div flex="50">
          <div layout="row">
            <div flex="20" layout layout-align="center center">
              <span class="label">{{ 'Timezone' | translate }}</span>
            </div>
            <md-slider md-theme="deep-orange" md-discrete flex step="1" min="-12" max="12" ng-model="newbangumi.timezone" aria-label="timezone"></md-slider>
          </div>
          <div layout="row">
            <div flex="20" layout layout-align="center center">
              <span class="label">{{ 'Show On' | translate }}</span>
            </div>
            <md-slider md-theme="red" md-discrete flex step="1" min="0" max="6" ng-model="newbangumi.showOn" aria-label="showOn"></md-slider>
            <div flex="20" layout layout-align="center center">
              <span class="label">{{ weekDays[newbangumi.showOn] | translate }}</span>
            </div>
          </div>
          <md-text-float label="{{ 'Start Date' | translate }}" ng-model="newbangumi.startDateFormat" ng-click="setDate('startDate')" class="long"></md-text-float>
          <md-text-float label="{{ 'End Date' | translate }}" ng-model="newbangumi.endDateFormat" ng-hide="settingDate == 'startDate'" ng-click="setDate('endDate')" class="long"></md-text-float>
          <datetimepicker data-ng-model="newbangumi.date" ng-show="settingDate"></datetimepicker>
        </div>
      </div>
    </div>
  </md-content>

  <div class="md-actions" layout="row">
    <md-progress-circular md-theme="red" md-mode="indeterminate" md-diameter="16" ng-show="working"></md-progress-circular>
    <md-button ng-click="add()" ng-show="data.selectedIndex == 0" class="md-primary">
      {{ 'Add' | translate }}
    </md-button>
    <md-button ng-click="save()" ng-show="data.selectedIndex == 1 && bangumi._id" class="md-primary">
      {{ 'Save' | translate }}
    </md-button>
    <md-button ng-click="delete()" ng-show="data.selectedIndex == 1 && bangumi._id" class="md-primary md-warn">
      {{ 'Delete' | translate }}
    </md-button>
    <md-button ng-click="search()" ng-show="data.selectedIndex == 1" class="md-primary">
      {{ (bangumi._id ? 'Search Again' : 'Search') | translate }}
    </md-button>
  </div>
</md-dialog>