<md-content>
    <section>
        <md-toolbar md-scroll-shrink md-theme="purple">
            <div class="md-toolbar-tools inner-header">
                <h3>{{ 'About' | translate }}</h3>
            </div>
        </md-toolbar>
        <div class="inner-content">
            <p>About Content</p>
        </div>
    </section>
    <section>
        <md-toolbar md-scroll-shrink md-theme="pink">
            <div class="md-toolbar-tools inner-header">
                <h3>{{ 'Tracker' | translate }}</h3>
            </div>
        </md-toolbar>
        <div class="inner-content">
            <ul>
                <li><p>http://example.site:6969/announce</p></li>
                <li><p>udp://example.site:6969/announce</p></li>
            </ul>
        </div>
    </section>
    <section>
        <md-toolbar md-scroll-shrink md-theme="deep-orange">
            <div class="md-toolbar-tools inner-header">
                <h3>{{ 'Security' | translate }}</h3>
            </div>
        </md-toolbar>
        <div class="inner-content">
            <p>Security Content</p>
        </div>
    </section>
    <section>
        <md-toolbar md-scroll-shrink md-theme="red">
            <div class="md-toolbar-tools inner-header">
                <h3>{{ 'Terms' | translate }}</h3>
            </div>
        </md-toolbar>
        <div class="inner-content">
            <p>本站列出的文件并没有保存在本站的服务器上。本站仅负责连接，我们对被传播文件的内容一无所知。</p>
            <p>我们无法对用户的提交内容或其他行为负责。您不能利用本站传播或下载任何您没有使用许可的文件或材料，由此引起的后果将由您自行承担。</p>
            <p>如果您发现本站所列出的资源侵犯了您的权益，请与我们联系，我们将予以删除。</p>
        </div>
    </section>
</md-content>