<md-content ng-intro-options="searchIntroOptions" ng-intro-method="searchIntroStart">
    <section>
        <md-toolbar md-scroll-shrink md-theme="red" id="search-filter-header">
            <div layout="row" layout-align="space-between center" class="md-toolbar-tools inner-header">
                <h3>
                    {{ 'Search torrent' | translate }}<br />
                    <small>{{ 'Select tags or type to start search & create RSS filter' | translate }}</small>
                </h3>
                <div class="toolbar-icons" id="filter-actions" ng-hide="searchByTitle">
                    <a ng-show="user" ng-click="addSubscribe($event)">
                        <i class="fa fa-icon fa-plus"></i>
                        <md-tooltip>{{ 'Add to subscription' | translate }}</md-tooltip>
                    </a>
                    <a href="{{ rsslink }}" target="_blank">
                        <i class="fa fa-icon fa-rss"></i>
                        <md-tooltip>{{ 'RSS Feed for this filter' | translate }}</md-tooltip>
                    </a>
                </div>
            </div>
        </md-toolbar>
        <div class="tag-list inner-content" id="filter-tag-list">
            <div layout="row" class="torrent-search" layout-align="space-around center">
                <div flex="70" ng-hide="searchByTitle">
                    {{ 'Selected tags:' | translate }}
                    <md-item ng-repeat="tag in selectedTags track by $index">
                        <span>
                            {{ tag | tagname }}&nbsp;<a href="javascript:void(0)" ng-click="removeTag(tag)"><i class="fa fa-icon fa-times"></i></a>
                        </span>
                    </md-item>
                </div>
                <div flex="70" ng-show="searchByTitle" class="torrent-title-search" layout="row" layout-align="space-around center">
                    <md-text-float class="long" label="{{ 'Type to search title' | translate }}" ng-model="title" ng-enter="searchTitle(title)"></md-text-float>
                </div>
                <div flex="30" layout="row" layout-align="center center">
                    <md-text-float id="filter-tag-search" ng-hide="searchByTitle" label="{{ 'Type to search tags' | translate }}" ng-model="newTagName"></md-text-float>
                    <md-progress-circular md-theme="red" md-mode="indeterminate" md-diameter="16" ng-show="canceler"></md-progress-circular>
                    <md-button ng-hide="searchByTitle || canceler" ng-click="searchTag(newTagName)"><i class="fa fa-icon fa-search"></i></md-button>
                    <md-button ng-show="searchByTitle" ng-click="searchTitle(title)"><i class="fa fa-icon fa-search"></i></md-button>
                    <md-button id="filter-mode-switch" ng-click="switchMode()">
                        <i class="fa fa-icon" ng-class="{'fa-pencil':!searchByTitle,'fa-tags':searchByTitle}"></i>
                        <md-tooltip>{{ (searchByTitle ? 'Search by Tag' : 'Search by Title') | translate }}</md-tooltip>
                    </md-button>
                </div>
            </div>
            <md-divider ng-hide="searchByTitle"></md-divider>
            <div ng-show="keywordsTags">
                <md-item ng-hide="searchByTitle" ng-repeat="tag in keywordsTags track by $index">
                    <md-button class="flat-button bangumi-list-item tags-button" ng-click="addTag(tag)">{{ tag | tagname }}</md-button>
                </md-item>
            </div>
            <md-divider ng-show="keywordsTags"></md-divider>
            <div ng-hide="searchByTitle" class="tag-list" ng-class="{'tags-collapse': (searched && tagsCollapse)}">
                <div ng-show="searched" layout="row" layout-align="center center">
                    <md-button class="flat-button collapse-button" ng-click="tagsCollapse = !tagsCollapse"><i class="fa fa-angle-down" ng-class="{'fa-angle-down': tagsCollapse, 'fa-angle-up': !tagsCollapse}"></i></md-button>
                </div>
                <div ng-repeat="type in tagTypeList">
                    <md-item ng-repeat="tag in tags[type] track by $index">
                        <md-button class="flat-button bangumi-list-item tags-button" ng-click="addTag(tag)">{{ tag | tagname }}</md-button>
                    </md-item>
                </div>
            </div>
        </div>
    </section>
    <section ng-show="searched">
        <md-toolbar md-scroll-shrink md-theme="deep-orange">
            <div class="md-toolbar-tools inner-header">
                {{ 'Search results' | translate }} ({{ torrents.length }})
            </div>
        </md-toolbar>
        <div class="inner-content" torrent-list="torrents" torrent-props="true"></div>
    </section>
</md-content>
