<md-content>
    <section>
        <md-toolbar md-scroll-shrink md-theme="red">
            <div class="md-toolbar-tools inner-header">
                <div flex="90">
                    <h3>
                        {{ 'Search torrent' | translate }}<br/>
                        <small>{{ 'Select tags or type to start search & create RSS filter' | translate }}</small>
                    </h3>
                </div>
                <div flex="10" ng-hide="searchByTitle">
                    <a href="{{ rsslink }}" target="_blank"><i class="fa fa-icon fa-rss"></i></a>
                </div>
            </div>
        </md-toolbar>
        <div class="inner-content">
            <div layout="row" class="torrent-search" layout-align="space-around center">
                <div flex="70" ng-hide="searchByTitle">
                    {{ 'Selected tags:' | translate }}
                    <md-item ng-repeat="tag in selectedTags track by $index">
                        <span>
                            {{ tag | tagname }}&nbsp;<a href="#" ng-click="removeTag(tag)"><i class="fa fa-icon fa-times"></i></a>
                        </span>
                    </md-item>
                </div>
                <div flex="70" ng-show="searchByTitle" class="torrent-title-search" layout="row" layout-align="space-around center">
                    <md-text-float class="long" label="{{ 'Type to search title' | translate }}" ng-model="title"></md-text-float>
                </div>
                <div flex="30" layout="row" layout-align="center center">
                    <md-text-float ng-hide="searchByTitle" label="{{ 'Type to search tags' | translate }}" ng-model="newTagName"></md-text-float>
                    <md-button ng-hide="searchByTitle" ng-click="searchTag(newTagName)"><i class="fa fa-icon fa-search"></i></md-button>
                    <md-button ng-show="searchByTitle" ng-click="searchTitle(title)"><i class="fa fa-icon fa-search"></i></md-button>
                    <md-button ng-click="searchByTitle = !searchByTitle">
                        <i class="fa fa-icon" ng-class="{'fa-pencil':!searchByTitle,'fa-tags':searchByTitle}"></i>
                        <md-tooltip>{{ (searchByTitle ? 'Search by Tag' : 'Search by Title') | translate }}</md-tooltip>
                    </md-button>
                </div>
            </div>
            <md-divider ng-hide="searchByTitle"></md-divider>
            <div ng-repeat="type in tagTypeList">
                <md-item ng-hide="searchByTitle" ng-repeat="tag in tags[type] track by $index">
                    <md-button class="md-raised bangumi-list-item tags-button" ng-click="addTag(tag)">{{ tag | tagname }}</md-button>
                </md-item>
            </div>
        </div>
    </section>
    <section ng-show="searched">
        <md-toolbar md-scroll-shrink md-theme="deep-orange">
            <div class="md-toolbar-tools inner-header">
                {{ 'Search results' | translate }}
            </div>
        </md-toolbar>
        <div class="inner-content" ng-include="'/templates/torrent-list.html'">
        </div>
    </section>
</md-content>
