<md-content>
    <section>
        <md-toolbar md-scroll-shrink md-theme="red">
            <div class="md-toolbar-tools inner-header">
                <h3>
                    <span>{{ 'Search result for' | translate }}: {{ tag.name }}</span><br/>
                </h3>
            </div>
        </md-toolbar>
    </section>
    <section>
        <div class="inner-content">
            <md-content>
                <h4>
                    <small>
                        {{ 'Also tagged as' | translate }}: <span ng-repeat="t in tag.synonyms track by $index">{{ t }}&nbsp;&nbsp;<b ng-if="!$last">/</b>&nbsp;&nbsp;</span>
                    </small>
                </h4>
            </md-content>
            <md-list class="torrent-list">
                <md-item ng-repeat="torrent in torrents">
                    <md-item-content class="md-item-raised" ng-click="showTorrentDetailsDialog($event, torrent)">
                        <div class="md-tile-left">
                            <img ng-src="/{{torrent.team.icon}}" alt="{{torrent.team.name}}" ng-if="torrent.team.icon" />
                            <img ng-src="/avatar/{{torrent.uploader.emailHash}}" alt="" ng-if="!torrent.team.icon" />
                        </div>
                        <div class="md-tile-content" style="padding: 0.5em 2em 0.5em 2.2em; margin: 0">
                            <div layout="row" layout-align="space-between center">
                                <div flex="70">
                                    <h3 class="md-item-raised-title"><span>{{ torrent.title }}</span></h3>
                                    <p>
                                        {{ torrent.uploader.username }} {{ 'Published at' | translate }} {{ torrent.publish_time | amDateFormat:'YYYY/MM/DD HH:mm:ss' | amCalendar }}
                                    </p>
                                </div>
                                <div flex="30">
                                    <div layout="row" layout-align="space-around center">
                                        <div flex="25" class="torrent-list-stats">
                                            <div layout="column" layout-align="space-around center">
                                                <div>
                                                    <i class="fa fa-download"></i>
                                                </div>
                                                <div ng-model="torrent.downloads">
                                                    {{ torrent.downloads }}
                                                </div>
                                            </div>
                                        </div>
                                        <div flex="25" class="torrent-list-stats">
                                            <div layout="column" layout-align="space-around center">
                                                <div>
                                                    <i class="fa fa-cloud-download"></i>
                                                </div>
                                                <div>
                                                    {{ torrent.leechers }}
                                                </div>
                                            </div>
                                        </div>
                                        <div flex="25" class="torrent-list-stats">
                                            <div layout="column" layout-align="space-around center">
                                                <div>
                                                    <i class="fa fa-cloud-upload"></i>
                                                </div>
                                                <div>
                                                    {{ torrent.seeders }}
                                                </div>
                                            </div>
                                        </div>
                                        <div flex="25" class="torrent-list-stats">
                                            <div layout="column" layout-align="space-around center">
                                                <div>
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div>
                                                    {{ torrent.finished }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-item-content>
                    <md-divider md-inset ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </div>
    </section>
</md-content>
