<md-content>
    <section>
        <md-toolbar md-scroll-shrink md-theme="red">
            <div class="md-toolbar-tools inner-header">
                <div flex="90">
                    <h3>
                        <span>{{ 'Search result for' | translate }}: {{ tag.name }}</span><br/>
                    </h3>
                </div>
                <div flex="10">
                    <a href="#" ui-sref="search({ tag_id: tag._id })"><i class="fa fa-icon fa-search"></i></a>
                </div>
            </div>
        </md-toolbar>
    </section>
    <section>
        <div class="inner-content">
            <md-content>
                <h4>
                    <small>
                        {{ 'Also tagged as' | translate }}: <span ng-repeat="t in tag.synonyms track by $index">{{ t }}&nbsp;&nbsp;<b ng-if="!$last">/</b>&nbsp;&nbsp;</span>
                    </small>
                </h4>
            </md-content>
        </div>
        <div class="inner-content" ng-include="'/templates/torrent-list.html'">
        </div>
    </section>
</md-content>
