<md-dialog aria-label="Tag" class="tag-dialog">
  <md-subheader class="md-sticky-no-effect" ng-class="{'md-red-theme': jobFailed}">
    {{ 'Tag' | translate }}&nbsp;&nbsp;
    <md-button class="md-dialog-close" ng-click="close()"><i class="fa fa-close"></i></md-button>
  </md-subheader>

  <md-content>
    <md-text-float label="{{ 'Tag Name' | translate }}" ng-model="tag.name" ng-disabled="notfound"></md-text-float>
    <md-list ng-show="tag._id || notfound">
      <md-item layout="row" class="tag-synonyms" ng-repeat="synonyms in tag.synonyms track by $index">
        <md-text-float label="{{ 'Synonyms' | translate }}" ng-model="tag.synonyms[$index]"></md-text-float>
        <md-button flex="15" ng-click="remove($index)"><i class="fa fa-close"></i></md-button>
      </md-item>
      <md-item layout="row">
        <div flex="85"></div>
        <md-button ng-click="increase()" flex="15" style="float:right"><i class="fa fa-plus"></i></md-button>
      </md-item>
    </md-list>
  </md-content>

  <div class="md-actions" layout="row">
    <md-progress-circular md-theme="red" md-mode="indeterminate" md-diameter="16" ng-show="working"></md-progress-circular>
    <md-button ng-click="search()" ng-hide="tag._id || notfound" class="md-primary">
      {{ 'Search' | translate }}
    </md-button>
    <md-button ng-click="add()" ng-show="notfound" class="md-primary">
      {{ 'Add' | translate }}
    </md-button>
    <md-button ng-click="save()" ng-show="tag._id" class="md-primary">
      {{ 'Save' | translate }}
    </md-button>
    <md-button ng-click="delete()" ng-show="tag._id" class="md-primary" md-theme="red">
      {{ 'Delete' | translate }}
    </md-button>
  </div>
</md-dialog>