<md-dialog aria-label="Torrent details" class="torrent-details-dialog">
    <md-subheader class="md-sticky-no-effect">
        <b>{{ torrent.title }}</b>&nbsp;&nbsp;
        <md-button class="md-dialog-close" ng-click="close()"><i class="fa fa-close"></i></md-button>
    </md-subheader>

    <md-content>
        <div class="torrent-details-content">
            <div layout="column" layout-align="space-around">
                <div layout="column" layout-align="space-around" class="torrent-details-div">
                    <div class="torrent-details-div" layout="row" layout-align="space-around center">
                        <div>
                            <i class="fa fa-download"></i> {{ torrent.downloads }}
                        </div>
                        <div>
                            <i class="fa fa-cloud-download"></i> {{ torrent.leechers }}
                        </div>
                        <div>
                            <i class="fa fa-cloud-upload"></i> {{ torrent.seeders }}
                        </div>
                        <div>
                            <i class="fa fa-check"></i> {{ torrent.finished }}
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div class="torrent-info">
                        {{ torrent.team.name }}
                        {{ torrent.uploader.username }} {{ 'submitted' | translate }} {{ torrent.publish_time | amDateFormat:'YYYY/MM/DD HH:mm:ss' | amCalendar }}
                    </div>
                    <md-divider></md-divider>
                    <div class="torrent-info">
                        <b>{{ 'torrent content' | translate }}</b>
                        <br/>
                        <md-list>
                            <md-item ng-repeat="file in torrent.content">
                                {{ file }}
                            </md-item>
                        </md-list>
                    </div>
                    <md-divider></md-divider>
                    <div class="torrent-details-div">
                        <div class="torrent-introduction" ng-bind-html="torrent.introduction | to_trusted"></div>
                        <div class="team-signature" ng-if="torrent.team.signature" ng-bind-html="torrent.team.signature | to_trusted"></div>
                    </div>
                    <md-divider></md-divider>
                    <div class="torrent-details-div">
                        <div ng-bind-html=" | to_trusted"></div>
                    </div>

                </div>
            </div>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button class="md-raised md-primary" ng-href="/download/torrent/{{ torrent._id }}.torrent" style="float: right;"><i class="fa fa-file"></i> {{ 'torrent' | translate }}</md-button>
        <md-button class="md-raised md-warn" href="{{ torrent.magnet }}" style="float: right;"><i class="fa fa-magnet"></i> {{ 'magnet' | translate }}</md-button>
    </div>
</md-dialog>
