<md-dialog aria-label="Publish">

  <md-subheader class="md-sticky-no-effect" ng-class="{'md-red-theme': jobFailed}">
    {{ 'Publish' | translate }}
    <md-button class="md-dialog-close" ng-click="close()"><i class="fa fa-close"></i></md-button>
  </md-subheader>

  <md-content>
    <md-text-float label="{{ 'Title' | translate }}" ng-model="torrent.title" class="long" md-fid="torrent-title"></md-text-float>
    <div layout="row">
      <ul class="torrent-tags tag-list">
        <li ng-repeat="tag in tags track by $index">
          <md-button>
            {{ tag | tagname }}
            <i class="fa fa-close" ng-click="removeTag($index)"></i>
          </md-button>
        </li>
        <li>
          <input ng-model="newtag" />
          <md-button ng-click="addTag()"><i class="fa fa-plus"></i></md-button>
        </li>
      </ul>
    </div>
    <textarea ng-model="torrent.introduction" redactor="{minHeight: 300, imageEnableUpload: user.group == 'admin'}"></textarea>
    <input ng-hide="torrent._id" type="file" fileread="torrent_file" required />
    <md-checkbox ng-model="torrent.inteam" ng-disabled="!user.team_id">{{ 'Publish As Team' | translate }}</md-checkbox>
    <md-checkbox ng-model="torrent.teamsync" ng-show="!user.team_id && !torrent._id">{{ 'Team Sync' | translate }}</md-checkbox>
  </md-content>

  <div class="md-actions" layout="row">
    <span>{{message}}</span>
    <md-progress-circular md-theme="red" md-mode="indeterminate" md-diameter="16" ng-show="working"></md-progress-circular>
    <md-button ng-click="publish()" class="md-primary">
      {{ (torrent._id ? 'Save' : 'Publish') | translate }}
    </md-button>
  </div>

</md-dialog>
