<md-list class="torrent-list">
    <md-item class="torrent-row" ng-repeat="torrent in torrents track by $index" >
        <md-item-content class="md-item-simple">
            <div class="md-tile-left" ng-click="downloadTorrent(torrent)">
                <label class="red circular-label" ng-if="torrent.comments">{{torrent.comments}}</label>
                <img ng-src="/{{torrent.team.icon}}" alt="{{torrent.team.name}}" ng-if="torrent.team.icon" class="face" />
                <img ng-src="/avatar/{{torrent.uploader.emailHash}}" alt="" ng-if="!torrent.team.icon" class="face" />
            </div>
            <div class="md-tile-content" ng-click="showTorrentDetailsDialog($event, torrent)">
                <div layout="row" layout-align="space-between center">
                    <div class="torrent-title">
                        <h3 class="md-item-raised-title"><span>{{ torrent.title }}</span></h3>
                        <p class="torrent-publish-info">
                            {{ torrent.uploader.username }}
                            <span ng-show="torrent.team">@[{{ torrent.team.name }}]</span>
                            {{ 'Published at' | translate }} {{ torrent.publish_time | amDateFormat:'YYYY/MM/DD HH:mm:ss' | amCalendar }}
                        </p>
                    </div>
                    <div class="torrent-stats">
                        <div layout="row" layout-align="space-around center">
                            <div flex="25" class="torrent-list-stats">
                                <div layout="column" layout-align="space-around center">
                                    <div class="stats-icon">
                                        <i class="fa fa-download"></i>
                                    </div>
                                    <div ng-model="torrent.downloads">
                                        {{ torrent.downloads }}
                                    </div>
                                </div>
                            </div>
                            <div flex="25" style="color:#9575cd" class="torrent-list-stats">
                                <div layout="column" layout-align="space-around center">
                                    <div class="stats-icon">
                                        <i class="fa fa-cloud-download"></i>
                                    </div>
                                    <div>
                                        {{ torrent.leechers }}
                                    </div>
                                </div>
                            </div>
                            <div flex="25" style="color:blue" class="torrent-list-stats">
                                <div layout="column" layout-align="space-around center">
                                    <div class="stats-icon">
                                        <i class="fa fa-cloud-upload"></i>
                                    </div>
                                    <div>
                                        {{ torrent.seeders }}
                                    </div>
                                </div>
                            </div>
                            <div flex="25" style="color:green" class="torrent-list-stats">
                                <div layout="column" layout-align="space-around center">
                                    <div class="stats-icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <div>
                                        {{ torrent.finished }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex="0" class="torrent-edit" ng-if="showTorrentEdit && isCanEdit(torrent)">
                        <div layout="column" layout-align="space-around center">
                            <div ng-show="user"><i class="fa fa-edit" ng-click="editTorrent($event, torrent, $index)"></i></div>
                            <div><i class="fa fa-remove" ng-click="removeTorrent($event, torrent, $index)"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </md-item-content>
        <md-divider></md-divider>
    </md-item>
</md-list>
<div layout="row" layout-align="center center">
    <div style="padding: 1em;">
        <md-progress-circular md-theme="red" md-mode="indeterminate" md-diameter="16" ng-show="tloading"></md-progress-circular>
        <md-button class="flat-button md-primary" ng-click="loadMore()" ng-show="currentPage < totalPages && !tloading">{{ 'Load more' | translate }}</md-button>
    </div>
</div>
