<md-dialog aria-label="Torrent details">
    <md-subheader class="md-sticky-no-effect">
        <b>{{ torrent.title }}</b>&nbsp;&nbsp;
        <md-button class="md-dialog-close" ng-click="close()"><i class="fa fa-close"></i></md-button>
    </md-subheader>

    <md-content>
        <div class="torrent-details-content">
            <div layout="column" layout-align="space-around">
                <div layout="column" layout-align="space-around" class="torrent-details-div">
                    <div class="torrent-details-div">
                        {{ torrent.uploader }} @ {{ torrent.team }} {{ 'submitted' | translate }} {{ torrent.publish_time | amDateFormat:'YYYY/MM/DD HH:mm:ss' | amCalendar }}
                    </div>
                    <md-divider></md-divider>
                    <div class="torrent-details-div" layout="row" layout-align="space-around center">
                        <div>
                            <i class="fa fa-download"></i> {{ torrent.downloads }}
                        </div>
                        <div>
                            <i class="fa fa-cloud-download"></i> {{ torrent.leechers }}
                        </div>
                        <div>
                            <i class="fa fa-cloud-upload"></i> {{ torrent.seeders }}
                        </div>
                        <div>
                            <i class="fa fa-check"></i> {{ torrent.finished }}
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div class="torrent-details-div">
                        <!-- TODO: need html parser here -->
                        {{ torrent.content }}
                    </div>
                    <md-divider></md-divider>
                </div>
            </div>
        </div>
    </md-content>
    <md-content>
        <div layout="row" layout-align="space-around left">
            <div style="padding: 0.5em 2em; max-width: 50em; text-wrap: normal;">
                <md-divider></md-divider>
                {{ team.signature }}
            </div>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button class="md-raised md-primary" ng-href="{{ torrent.file }}" style="float: right;"><i class="fa fa-file"></i> torrent</md-button>
        <md-button class="md-raised md-warn" href="{{ torrent.magnet }}" style="float: right;"><i class="fa fa-magnet"></i> magnet</md-button>
    </div>
</md-dialog>
