<md-dialog aria-label="Torrent details" class="torrent-details-dialog">
    <md-subheader class="md-sticky-no-effect">
        {{ 'Torrent Details' | translate }}
        <md-button class="md-dialog-close" ng-click="close()"><i class="fa fa-close"></i></md-button>
        <md-button class="md-dialog-edit" ng-click="edit($event)" ng-show="user._id == torrent.uploader_id || (torrent.team && user._id == torrent.team.admin_id) || user.group == 'admin'"><i class="fa fa-edit"></i></md-button>
    </md-subheader>

    <md-content>
        <div class="torrent-details-content">
            <div layout="column" layout-align="space-around">
                <div layout="column" layout-align="space-around" class="torrent-details-div">
                    <div class="torrent-info" layout="row">
                        <b>{{ torrent.title }}</b>&nbsp;&nbsp;
                    </div>
                    <div class="torrent-info" layout="row" ng-show="torrent.tags">
                      <ul class="torrent-tags tag-list">
                        <li ng-repeat="tag in torrent.tags">
                          <md-button class="md-warn" ui-sref="tag({ tag_id: tag._id })">{{ tag | tagname }}</md-button>
                        </li>
                      </ul>
                    </div>
                    <md-divider></md-divider>
                    <div class="torrent-details-div" layout="row" layout-align="space-around center">
                        <div>
                            <i class="fa fa-download"></i> <span ng-model="torrent.downloads">{{ torrent.downloads }}</span>
                        </div>
                        <div>
                            <i class="fa fa-cloud-download"></i> {{ torrent.leechers }}
                        </div>
                        <div>
                            <i class="fa fa-cloud-upload"></i> {{ torrent.seeders }}
                        </div>
                        <div>
                            <i class="fa fa-check"></i> {{ torrent.finished }}
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div class="torrent-info">
                        {{ torrent.uploader.username }}
                        <span ng-show="torrent.team">@[{{ torrent.team.name }}]</span>
                        {{ 'submitted' | translate }} {{ torrent.publish_time | amDateFormat:'YYYY/MM/DD HH:mm:ss' | amCalendar }}
                    </div>
                    <md-divider></md-divider>
                    <div class="torrent-info">
                        <div class="comment-info" ng-show="!showComments">
                            <span class="disqus-comment-count" disqus-count="'torrent/' + torrent._id" disqus-url="'/#!/torrent/' + torrent._id"></span>
                            <span>{{ 'Comments' | translate }}</span>
                            <md-button ng-click="showComments = true">{{ 'expand' | translate }}</md-button>
                        </div>
                        <div ng-if="showComments" disqus="'torrent/' + torrent._id" disqus-url="'/#!/torrent/' + torrent._id" disqus-lang="lang"></div>
                    </div>
                    <md-divider></md-divider>
                    <div class="torrent-info">
                        <div class="torrent-introduction" ng-bind-html="torrent.introduction | to_trusted"></div>
                        <md-divider ng-show="torrent.team.signature"></md-divider>
                        <div class="team-signature" ng-if="torrent.team.signature" ng-bind-html="torrent.team.signature | to_trusted"></div>
                    </div>
                    <md-divider></md-divider>
                    <div class="torrent-info">
                        <b>{{ 'torrent content' | translate }}</b>
                        <md-button ng-click="fileContainer = !fileContainer">{{ (fileContainer ? 'collapse' : 'expand') | translate }}</md-button>
                        <br/>
                        <md-list ng-show="fileContainer">
                            <md-item ng-repeat="file in torrent.content">
                                {{ file }}<br/>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-item>
                        </md-list>
                    </div>
                    <md-divider ng-show="torrent.teamsync"></md-divider>
                    <div class="torrent-info" ng-show="torrent.teamsync">
                        <b>{{ 'Team Sync' | translate }}</b>
                        <span ng-hide="torrent.sync">{{ 'Syncing' | translate }}</span>
                        <md-button ng-show="torrent.sync" ng-click="showSyncStatus = !showSyncStatus">{{ (showSyncStatus ? 'collapse' : 'expand') | translate }}</md-button>
                        <br/>
                        <md-list class="torrent-sync-status" ng-show="showSyncStatus">
                            <md-item ng-repeat="(site, status) in torrent.sync">
                                <b>{{ site | translate }}</b>: <span ng-if="status.indexOf('http') < 0">{{status}}</span><a ng-if="status.indexOf('http') == 0" ng-href="{{status}}" target="_blank">{{status}}</a>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button class="md-primary" ng-click="downloadTorrent(torrent)" style="float: right;"><i class="fa fa-file"></i> {{ 'Torrent' | translate }}</md-button>
        <md-button class="md-warn" ng-href="{{ torrent.magnet }}&tr=https%3A%2F%2Ftr.bangumi.moe%3A9696%2Fannounce&tr=http%3A%2F%2Ftr.bangumi.moe%3A6969%2Fannounce&tr=udp%3A%2F%2Ftr.bangumi.moe%3A6969%2Fannounce&tr=http%3A%2F%2F208.67.16.113%3A8000%2Fannounce&tr=udp%3A%2F%2F208.67.16.113%3A8000%2Fannounce&tr=http%3A%2F%2Ftracker.ktxp.com%3A6868%2Fannounce&tr=http%3A%2F%2Ftracker.ktxp.com%3A7070%2Fannounce&tr=http%3A%2F%2Ft2.popgo.org%3A7456%2Fannonce&tr=http%3A%2F%2Fbt.sc-ol.com%3A2710%2Fannounce&tr=http%3A%2F%2Fshare.camoe.cn%3A8080%2Fannounce&tr=http%3A%2F%2F61.154.116.205%3A8000%2Fannounce&tr=http%3A%2F%2Fbt.rghost.net%3A80%2Fannounce&tr=http%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=http%3A%2F%2Ftracker.publicbt.com%3A80%2Fannounce&tr=http%3A%2F%2Ftracker.prq.to%2Fannounce&tr=http%3A%2F%2Fopen.nyaatorrents.info%3A6544%2Fannounce" style="float: right;"><i class="fa fa-magnet"></i> {{ 'magnet' | translate }}</md-button>
    </div>
</md-dialog>
