<md-dialog aria-label="User" class="user-dialog">
  <md-subheader class="md-sticky-no-effect" ng-class="{'md-red-theme': jobFailed}">
    {{ 'User' | translate }}&nbsp;&nbsp;
    <md-button class="md-dialog-close" ng-click="close()"><i class="fa fa-close"></i></md-button>
  </md-subheader>

  <section class="toolbar">
    <md-toolbar md-scroll-shrink>
      <div class="inner-header">
        <md-tabs md-selected="data.selectedIndex" class="md-tabs-full-height">
          <md-tab id="tab1" aria-controls="tab1-content">
            {{ 'User Profile' | translate }}
          </md-tab>
          <md-tab id="tab2" aria-controls="tab2-content">
            {{ 'My Subscription' | translate }}
          </md-tab>
          <md-tab id="tab3" aria-controls="tab2-content">
            {{ 'My Publication' | translate }}
          </md-tab>
          <md-tab id="tab4" aria-controls="tab3-content" ng-disabled="!user.team_id">
            {{ 'Team Publication' | translate }}
          </md-tab>
        </md-tabs>
      </div>
    </md-toolbar>
  </section>

  <md-content>
    <ng-switch on="data.selectedIndex" class="tabpanel-container">
      <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0">
        <div class="user-avatar" style="position: absolute;">
          <img ng-src="/avatar/{{user.emailHash}}" alt="{{user.username}}" />
        </div>
        <div layout="column" layout-align="center center">
          <md-text-float label="{{ 'Username' | translate }}" ng-disabled="true" ng-model="user.username"></md-text-float>
          <md-text-float label="{{ 'Password' | translate }}" ng-model="user.password" type="password"></md-text-float>
          <md-divider></md-divider>
          <md-text-float label="{{ 'New Password' | translate }}" ng-model="user.new_password" type="password"></md-text-float>
          <md-text-float label="{{ 'Confirm New Password' | translate }}" ng-model="user.new_password2" type="password"></md-text-float>
        </div>
      </div>
      <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1">
        <md-list class="torrent-tags tag-list">
          <md-item layout="row" layout-align="start center" class="tag-list" ng-init="line = $index" ng-repeat="tags in subscriptions track by $index">
            <md-button ng-repeat="tag in tags">
              {{ tag | tagname }}
              <i ng-click="removeTag(line, tag)" class="fa fa-remove"></i>
            </md-button>
            <input ng-show="focus_line[line]" placeholder="{{ 'Tag' | translate }}" ng-model="data.tagname" />
            <md-button ng-hide="focus_line[line]" ng-click="editLine(line)" aria-label="Edit Line"><i class="fa fa-edit"></i></md-button>
            <md-button class="md-warn" ng-click="removeLine(line)" aria-label="Remove Line"><i class="fa fa-remove"></i></md-button>
          </md-item>
          <md-item layout="row">
            <md-button ng-click="addLine()" aria-label="Add Line"><i class="fa fa-plus"></i></md-button>
          </md-item>
          <md-item layout="row" ng-show="keywordsTags" style="margin-top:8px">
            <ul class="torrent-tags tag-list">
              <li ng-repeat="tag in keywordsTags track by $index">
                <md-button ng-click="addKeywordsTag($index)">
                  {{ tag | tagname }}
                  <i class="fa fa-plus"></i>
                </md-button>
              </li>
              <li>
                <md-button ng-click="data.tagname = '';"><i class="fa fa-close"></i></md-button>
              </li>
            </ul>
          </md-item>
        </md-list>
        <md-divider ng-show="storrents.length"></md-divider>
        <div class="torrent-list" torrent-list="storrents"></div>
      </div>
      <div role="tabpanel" id="tab3-content" aria-labelledby="tab2" ng-switch-when="2">
        <div class="torrent-list-edit" torrent-list="mytorrents" torrent-props="true"></div>
      </div>
      <div role="tabpanel" id="tab4-content" aria-labelledby="tab3" ng-switch-when="3">
        <div class="torrent-list-edit" torrent-list="teamtorrents" torrent-props="true"></div>
      </div>
    </ng-switch>
  </md-content>

  <div class="md-actions" layout="row" ng-show="[0, 1].indexOf(data.selectedIndex) >= 0">
    <md-progress-circular md-theme="red" md-mode="indeterminate" md-diameter="16" ng-show="working"></md-progress-circular>
    <md-button ng-href="/rss/user/{{user._id}}" target="_blank" ng-show="data.selectedIndex == 1">
      <i class="fa fa-rss"></i>
    </md-button>
    <md-button ng-click="save()" class="md-primary">
      {{ 'Save' | translate }}
    </md-button>
  </div>
</md-dialog>
