<md-dialog aria-label="Signin">

  <md-content>
    <md-subheader class="md-sticky-no-effect" ng-class="{'md-red-theme': signinFailed}">Signin</md-subheader>
    <md-text-float label="Username" ng-model="user.username"></md-text-float>
    <md-text-float label="Password" ng-model="user.password" type="password"></md-text-float>
  </md-content>

  <div class="md-actions" layout="row">
    <md-progress-circular md-theme="red" md-mode="indeterminate" md-diameter="16" ng-show="signining"></md-progress-circular>
    <md-button ng-click="signin()" class="md-primary">
      Signin
    </md-button>
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
  </div>

</md-dialog>