<md-content>
  <section>
    <md-toolbar md-scroll-shrink md-theme="purple">
      <div class="md-toolbar-tools inner-header">
        <h3>{{ 'Announcement' | translate }}</h3>
      </div>
    </md-toolbar>
    <div class="announcement-content inner-content">
      <div id="ann-{{ann._id}}" class="announcement-row" ng-repeat="ann in announcements">
        <p>
          <span class="announcement-title">{{ ann.title }}</span>
          <span class="announcement-edit" ng-show="user.group === 'admin'"><i class="fa fa-remove" ng-click="remove($event, ann)"></i></span>
          <span class="announcement-info">{{ 'Published at' | translate }} {{ ann.createdAt | amDateFormat:'YYYY/MM/DD HH:mm:ss' | amCalendar }}</span>
        </p>
        <p class="announcement-content" ng-bind-html="ann.content | to_trusted"></p>
      </div>
    </div>
  </section>
</md-content>
