<md-content>
    <section>
        <md-toolbar md-scroll-shrink md-theme="purple">
            <div class="md-toolbar-tools inner-header">
                <h3>{{ 'About' | translate }}</h3>
            </div>
        </md-toolbar>
        <div class="help-content">
            <p>Bangumi.moe 是動漫愛好者的分享站。</p>
            <p>Bangumi.moe / rin-pr 由
              <a href="https://iojs.org/" target="_blank">io.js</a>,
              <a href="http://koajs.com/" target="_blank">Koa</a>,
              <a href="http://www.mongodb.org/" target="_blank">MongoDB</a>,
              <a href="http://redis.io/" target="_blank">Redis</a>,
              <a href="http://erdgeist.org/arts/software/opentracker/" target="_blank">opentracker</a>,
              <a href="https://angularjs.org/" target="_blank">AngularJS</a>
              以及其他開源項目強力驅動。
            </p>
            <p>查看公告：<a ng-href="/announcement" target="_blank">https://bangumi.moe/announcement</a></p>
            <p>聯繫我們：<md-button ng-href="/tellus">{{ 'Tell us' | translate }}</md-button> | 郵箱 / <code>prpr@bangumi.moe</code> | QQ群 / <code>424641564</code></p>
            <p>現在我們徵求網站的 Logo 中，如果你想為我們製作一個精美的 Logo 請與我們聯繫！謝謝！</p>
        </div>
    </section>
    <section>
        <md-toolbar md-scroll-shrink md-theme="pink">
            <div class="md-toolbar-tools inner-header">
                <h3>{{ 'Tracker' | translate }}</h3>
            </div>
        </md-toolbar>
        <div class="help-content">
            <ul>
                <li><p><code>https://tr.bangumi.moe:9696/announce</code></p></li>
                <li><p><code>http://tr.bangumi.moe:6969/announce</code></p></li>
                <li><p><code>udp://tr.bangumi.moe:6969/announce</code></p></li>
            </ul>
            <p>請在上傳種子前確認種子的 tracker 包含上述三者或其中之一，否則將可能無法獲得來自我們 tracker 的統計信息。</p>
        </div>
    </section>
    <section>
        <md-toolbar md-scroll-shrink md-theme="deep-orange">
            <div class="md-toolbar-tools inner-header">
                <h3>{{ 'Security' | translate }}</h3>
            </div>
        </md-toolbar>
        <div class="help-content">
            <p>bangumi.moe 全站啓用 TLS 傳輸加密，用戶的密碼將從瀏覽器到服務端中被三層加密處理，用戶的郵件地址在傳出伺服器時也會被混淆。我們承諾將不會公開用戶隱私給任何第三方。</p>
            <p>我們同時提供 HTTPS/HTTP/UDP 協議的 tracker 伺服器，建議您在可能的情況下僅使用 HTTPS 協議的 tracker 伺服器。</p>
            <p>我們非常重視安全問題。如果您發現任何可能的風險，請立即聯繫我們：<code>prpr@bangumi.moe</code></p>
        </div>
    </section>
    <section>
        <md-toolbar md-scroll-shrink md-theme="red">
            <div class="md-toolbar-tools inner-header">
                <h3>{{ 'Terms' | translate }}</h3>
            </div>
        </md-toolbar>
        <div class="help-content">
            <p>
                bangumi.moe 站點上列出的文件將不會保存在伺服器上。本站點僅負責連接用戶，我們對於被共享的文件內容一無所知。我們無法對用戶提交的內容或其他行爲負責。您不能利用本站點傳播或下載任何您沒有使用許可的文件或材料，由此引起的後果將由您自行承擔。
            </p>
            <p>如果您認爲本站所列出的文件侵犯了您的權益，請與我們聯繫：<code>abuse@bangumi.moe</code>，我們將刪除侵權內容。</p>
        </div>
    </section>
</md-content>
