<md-dialog aria-label="Tag" class="tag-dialog">
  <md-subheader class="md-sticky-no-effect" ng-class="{'md-red-theme': jobFailed}">
    {{ 'Tag' | translate }}&nbsp;&nbsp;
    <md-button class="md-dialog-close" ng-click="close()"><i class="fa fa-close"></i></md-button>
  </md-subheader>

  <md-content layout="column">
    <div layout="row" layout-align="space-between center">
      <md-text-float label="{{ 'Tag Name' | translate }}" ng-enter=" (!tag._id && !notfound) && search()" ng-model="tag.name" ng-disabled="notfound"></md-text-float>
      <select ng-show="tag._id || notfound" class="tag-type" ng-model="tag.type" ng-options="type for type in tagTypeList">
      </select>
    </div>
    <md-list ng-show="tag._id || notfound">
      <md-item>
        <span>{{ 'Locale Type' | translate }}: ja, en, zh_tw, zh_cn</span>
      </md-item>
      <md-item layout="row" layout-align="start center" class="tag-synonyms" ng-repeat="synonyms in tag.synonyms track by $index">
        <input type="text" class="tag-locale" placeholder="{{ 'Locale' | translate }}" ng-model="tag_locale[$index]"></input>
        <md-text-float label="{{ 'Synonyms' | translate }}" ng-model="tag.synonyms[$index]"></md-text-float>
        <md-button flex="15" ng-click="remove($index)" aria-label="Remove"><i class="fa fa-close"></i></md-button>
      </md-item>
      <md-item layout="row">
        <div flex="85"></div>
        <md-button ng-click="increase()" flex="15" style="float:right" aria-label="Increase"><i class="fa fa-plus"></i></md-button>
      </md-item>
    </md-list>
    <md-list ng-show="keywordsTags">
      <md-item ng-repeat="tag in keywordsTags">
        <md-button class="flat-button bangumi-list-item tags-button" ng-click="selectTag(tag)">{{ tag | tagname }}</md-button>
      </md-item>
    </md-list>
  </md-content>

  <div class="md-actions" layout="row">
    <md-progress-circular md-theme="red" md-mode="indeterminate" md-diameter="16" ng-show="working || canceler"></md-progress-circular>
    <md-button ng-click="search()" ng-hide="tag._id || notfound" class="md-primary" aria-label="Search">
      {{ 'Search' | translate }}
    </md-button>
    <md-button ng-click="delete()" ng-show="tag._id" class="md-primary md-warn" aria-label="Delete">
      {{ 'Delete' | translate }}
    </md-button>
    <md-button ng-click="add()" ng-show="notfound" class="md-primary" aria-label="Add">
      {{ 'Add' | translate }}
    </md-button>
    <md-button ng-click="save()" ng-show="tag._id" class="md-primary" aria-label="Save">
      {{ 'Save' | translate }}
    </md-button>
  </div>
</md-dialog>