<md-dialog aria-label="Team" class="team-dialog">
  <md-subheader class="md-sticky-no-effect" ng-class="{'md-red-theme': jobFailed}">
    {{ 'Team' | translate }}&nbsp;&nbsp;
    <md-button class="md-dialog-close" ng-click="close()"><i class="fa fa-close"></i></md-button>
  </md-subheader>

  <section class="toolbar">
    <md-toolbar md-scroll-shrink>
      <div class="inner-header">
        <md-tabs md-selected="data.selectedIndex" class="md-tabs-full-height">
          <md-tab id="tab1" aria-controls="tab1-content">
            {{ 'Team Management' | translate }}
          </md-tab>
          <md-tab id="tab2" aria-controls="tab2-content" ng-disabled="!team">
            {{ 'Team Members' | translate }}
          </md-tab>
          <md-tab id="tab3" aria-controls="tab3-content" ng-disabled="teams || (teamJoining && teamJoining._id)">
            {{ 'Team Register' | translate }}
          </md-tab>
          <md-tab id="tab4" aria-controls="tab4-content" ng-disabled="!team">
            {{ 'Team Sync' | translate }}
          </md-tab>
          <md-tab id="tab5" aria-controls="tab5-content" ng-if="user.group == 'admin'">
            {{ 'New Team Request' | translate }}
          </md-tab>
        </md-tabs>
      </div>
    </md-toolbar>
  </section>

  <md-content>
    <div class="inner-content">
      <ng-switch on="data.selectedIndex" class="tabpanel-container">
        <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0">
          <div class="team-to-join" layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
              <md-text-float label="{{ 'Team To Join' | translate }}" ng-model="jointeam.name" ng-disabled="teamJoining._id"></md-text-float>
              <div ng-show="keywordsTags" layout="row" layout-align="center center">
                <md-item ng-repeat="tag in keywordsTags">
                  <md-button class="flat-button bangumi-list-item tags-button" ng-click="selectTag(tag)">{{ tag | tagname }}</md-button>
                </md-item>
              </div>
            </div>
            <md-button ng-click="join()" class="md-primary" ng-disabled="teamJoining._id">
              {{ teamJoining._id ? 'Joining' : 'Request to Join' | translate }}
            </md-button>
          </div>
          <div id="my-teams" ng-show="teams">
            <p>{{ 'My Teams' | translate }}</p>
            <md-list>
              <md-item class="team-select-item" ng-class="{ selected: $index == selectedTeamIndex }" ng-repeat="t in teams track by $index" ng-click="selectTeam($index)">
                <div class="label"><span>{{t.tag ? (t.tag | tagname) : t.name}}</span></div>
                <img ng-src="{{t.icon ? ('/' + t.icon) : '/images/common/default-team-icon.gif'}}" class="face" alt="{{t.tag ? (t.tag | tagname) : t.name}}" />
              </md-item>
            </md-list>
          </div>
          <div id="team-infomation" ng-show="team">
            <div class="team-icon" ng-show="team.icon">
              <img ng-src="{{team.icon ? ('/' + team.icon) : '/images/common/default-team-icon.gif'}}" />
            </div>
            <md-text-float label="{{ 'Team Name' | translate }}" ng-model="team.name" ng-disabled="true"></md-text-float>
            <div id="team-manage" ng-show="isTeamAdmin(user._id)">
              <p>{{ 'Team Logo' | translate }}</p>
              <input type="file" fileread="team.new_icon" />
              <p>&nbsp;</p>
              <p>{{ 'Team Signature' | translate }}</p>
              <textarea ng-model="team.signature" redactor="{minHeight: 200, imageEnableUpload: user.group == 'admin'}"></textarea>
            </div>
            <div id="team-manage" ng-show="!isTeamAdmin(user._id)">
              <div class="team-signature" ng-if="team.signature" ng-bind-html="team.signature | to_trusted"></div>
            </div>
          </div>
        </div>
        <div role="tabpanel" id="tab2-content" aria-labelledby="tab2" ng-switch-when="1">
          <p>{{ 'Team Name' | translate }}: {{team.tag ? (team.tag | tagname) : team.name}}</p>
          <div class="team-pending-members" ng-show="teamPendingMembers">
            <md-list>
              <md-item ng-repeat="u in teamPendingMembers">
                <md-item-content>
                  <div class="md-tile-left">
                    <img ng-src="/avatar/{{u.emailHash}}?s=128" class="face" alt="{{u.username}}">
                  </div>
                  <div class="md-tile-content">
                    <h3>{{u.username}}</h3>
                    <md-button ng-click="approveMember($event, team._id, u._id)"><i class="fa fa-check"></i> {{ 'Approve' | translate }}</md-button>
                    <md-button class="md-warn" ng-click="rejectMember($event, team._id, u._id)"><i class="fa fa-close"></i> {{ 'Reject' | translate }}</md-button>
                  </div>
                </md-item-content>
              </md-item>
            </md-list>
          </div>
          <div class="team-members" ng-show="teamMembers">
            <md-divider ng-if="teamPendingMembers.length"></md-divider>
            <md-list>
              <md-item ng-repeat="u in teamMembers">
                <md-item-content>
                  <div class="md-tile-left">
                    <img ng-src="/avatar/{{u.emailHash}}?s=128" class="face" alt="{{u.username}}">
                  </div>
                  <div class="md-tile-content">
                    <h3>{{u.username}}</h3>
                    <div style="display: inline-block;" ng-if="isTeamAdmin(user._id)">
                      <md-button ng-click="remove($event, team._id, u._id, 'member')"><i class="fa fa-close"></i> {{ 'Remove' | translate }}</md-button>
                      <md-button ng-show="!isTeamAdmin(u._id) && !isTeamEditor(u._id)" ng-click="approveEditor($event, team._id, u._id)"><i class="fa fa-check" style="color:blue"></i> {{ 'Set Editor' | translate }}</md-button>
                      <md-button ng-show="!isTeamAdmin(u._id) && isTeamEditor(u._id)" ng-click="removeEditor($event, team._id, u._id)"><i class="fa fa-close" style="color:red"></i> {{ 'Remove Editor' | translate }}</md-button>
                      <md-button ng-show="!isTeamAdmin(u._id)" ng-click="approveAdmin($event, team._id, u._id)"><i class="fa fa-check" style="color:blue"></i> {{ 'Set Admin' | translate }}</md-button>
                      <md-button ng-show="isTeamAdmin(u._id) && u._id != team.admin_id" ng-click="removeAdmin($event, team._id, u._id)"><i class="fa fa-close" style="color:red"></i> {{ 'Remove Admin' | translate }}</md-button>
                    </div>
                    <div style="display: inline-block;" ng-if="user._id === u._id && isTeamEditor(user._id)">
                      <md-button ng-click="removeEditor($event, team._id, u._id)"><i class="fa fa-close" style="color:red"></i> {{ 'Remove Editor' | translate }}</md-button>
                    </div>
                  </div>
                </md-item-content>
              </md-item>
            </md-list>
          </div>
        </div>
        <div role="tabpanel" id="tab3-content" aria-labelledby="tab3" ng-switch-when="2">
          <div class="team-pending" ng-show="teamPending._id">
            <h3>{{ 'Request Pending Approve' | translate }}</h3>
            <md-text-float label="{{ 'Team Name' | translate }}" ng-model="teamPending.name" ng-disabled="true"></md-text-float>
            <p>{{ 'Certification materials' | translate }}</p>
            <md-content style="margin:-24px" ng-bind-html="teamPending.certification | to_trusted"></md-content>
          </div>
          <div class="team-register" ng-show="!teamPending._id">
            <md-text-float label="{{ 'Team Name' | translate }}" ng-model="newteam.name"></md-text-float>
            <p>{{ 'Certification materials' | translate }}</p>
            <textarea ng-model="newteam.certification" redactor="{minHeight: 300}"></textarea>
          </div>
        </div>
        <div role="tabpanel" id="tab4-content" aria-labelledby="tab4" ng-switch-when="3" ng-disabled="!team._id">
          <p>{{ 'Team Sync allows your team members\' publication sync with other sites.' | translate }}</p>
          <p>{{ 'But keep in mind, this operation need your team member\'s password in other sites. We suggest you to register a new account in other sites for this fancy operation.' | translate }}</p>
          <p>{{ 'And, we won\'t delete your publication in other sites when you delete your publication here.' | translate }}</p>
          <p>{{ 'NOTE: Please using UID and API Token as username and password for site AcgnX.' | translate }}</p>
          <md-divider></md-divider>
          <md-list>
            <md-item ng-repeat="site in syncSites">
              <div layout="row" layout-align="space-around center">
                <md-switch flex="20" ng-model="sync[site].enable" aria-label="{{site}} Switch">{{ site | translate }}</md-switch>
                <md-text-float label="{{ 'Username' | translate }}" ng-model="sync[site].username"></md-text-float>
                <md-text-float label="{{ 'Password' | translate }}" ng-model="sync[site].password" type="password"></md-text-float>
              </div>
            </md-item>
          </md-list>
        </div>
        <div role="tabpanel" id="tab5-content" aria-labelledby="tab5" ng-switch-when="4" ng-show="user.group == 'admin'">
          <md-list>
            <md-item ng-repeat="team in teamRequests">
              <md-item-content>
                <div class="md-tile-left">
                  <img ng-src="/avatar/{{team.admin.emailHash}}?s=128" class="face" alt="{{team.admin.username}}">
                </div>
                <div class="md-tile-content">
                  <h3>{{team.name}}</h3>
                  <h4><small>by</small> {{team.admin.username}}</h4>
                  <md-button ng-click="approve($event, team._id, team.admin._id)"><i class="fa fa-check"></i> {{ 'Approve' | translate }}</md-button>
                  <md-button class="md-warn" ng-click="reject($event, team._id, team.admin._id)"><i class="fa fa-close"></i> {{ 'Reject' | translate }}</md-button>
                  <md-content ng-bind-html="team.certification | to_trusted"></md-content>
                </div>
              </md-item-content>
            </md-item>
          </md-list>
        </div>
      </ng-switch>
    </div>
  </md-content>

  <div class="md-actions" layout="row" ng-show="[0, 2, 3].indexOf(data.selectedIndex) >= 0">
    <md-progress-circular md-theme="red" md-mode="indeterminate" md-diameter="16" ng-show="working || canceler"></md-progress-circular>
    <md-button ng-click="save()" class="md-primary" ng-show="team && [0, 3].indexOf(data.selectedIndex) >= 0" ng-disabled="!team || !isTeamAdmin(user._id)">
      {{ 'Save' | translate }}
    </md-button>
    <md-button ng-click="submit()" class="md-primary" ng-disabled="teamPending._id" ng-show="data.selectedIndex == 2">
      {{ 'Submit' | translate }}
    </md-button>
  </div>

</md-dialog>
