<md-dialog aria-label="PublishNew" class="modal">

  <md-subheader class="md-sticky-no-effect" ng-class="{'md-red-theme': jobFailed}">
    {{ 'Publish' | translate }}
    <md-button aria-label="Close" class="md-dialog-close" ng-click="close()"><i class="fa fa-close"></i></md-button>
    <md-button aria-label="Back" class="md-dialog-back" ng-click="backoldversion($event)"><i class="fa fa-rotate-left"></i> {{ 'Old version' | translate }}</md-button>
  </md-subheader>

  <md-content>
    <div class="torrent-upload" ng-show="!showinfo">
      <div class="drop-box" ngf-select ngf-drop ngf-change="upload($file)"
          ngf-drag-over-class="'dragover'" ng-model="files" ng-disabled="uploading"
          ngf-multiple="false" ngf-allow-dir="false"
          ngf-pattern="'.torrent'" ngf-accept="'application/x-bittorrent'">
        <p ng-show="!uploading">
          {{ 'Please select your team first.'  | translate }}<br>
          {{ 'Drop a torrent file or select a file here.'  | translate }}
        </p>
        <p ng-show="!uploading">{{message}}</p>
        <md-progress-circular md-theme="blue" md-mode="determinate" value="{{uploadprocess}}" md-diameter="50" ng-show="uploading === 1"></md-progress-circular>
        <md-progress-circular md-theme="blue" md-mode="indeterminate" md-diameter="50" ng-show="uploading === 2"></md-progress-circular>
        <p class="torrent-filename" ng-show="uploading">{{ uploadfilename }}</p>
      </div>
    </div>
    <div class="torrent-publish-area" ng-show="showinfo">
      <p>{{ 'Please select a right or similar title:' | translate }}</p>
      <div class="torrent-recommend-list" ng-if="recommend_torrents">
        <md-list class="torrent-list">
          <md-item class="torrent-row" ng-class="{selected: torrent._id == selected_torrent._id}" ng-repeat="torrent in recommend_torrents track by $index">
            <md-item-content class="md-item-simple">
              <div class="md-tile-content" ng-click="switchTorrent($event, torrent)">
                <div layout="row" layout-align="space-between center">
                    <div class="torrent-title">
                        <h3 class="md-item-raised-title"><span>{{ torrent.predicted_title ? torrent.predicted_title : torrent.title }}</span></h3>
                        <p class="torrent-publish-info">
                            {{ torrent.uploader.username }}
                            <span ng-show="torrent.team">@[{{ torrent.team.name }}]</span>
                            {{ 'Published at' | translate }} {{ torrent.publish_time | amDateFormat:'YYYY/MM/DD HH:mm:ss' | amCalendar }}
                        </p>
                    </div>
                </div>
              </div>
            </md-item-content>
            <md-divider></md-divider>
          </md-item>
          <md-item class="torrent-row" ng-class="{selected: !selected_torrent}">
            <md-item-content class="md-item-simple">
              <div class="md-tile-content" ng-click="switchTorrent($event, null); furtheredit($event, true);">
                <div layout="row" layout-align="space-between center">
                    <div class="torrent-title">
                        <h3 class="md-item-raised-title" style="text-align:center"><span>{{ 'New' | translate }}</span></h3>
                    </div>
                </div>
              </div>
            </md-item-content>
            <md-divider></md-divider>
          </md-item>
        </md-list>
      </div>
      <!--
      <div class="torrent-tags" layout="row" layout-align="start center">
        <select ng-model="categoryTag" ng-options="(tag | tagname) for tag in categoryTags" style="margin-right:6px;">
        </select>
        <ul class="tag-list">
          <li ng-repeat="tag in tags track by $index">
            <md-button class="del-button" ng-click="removeTag($index)">
              {{ tag | tagname }}
              <i class="fa fa-close"></i>
            </md-button>
          </li>
          <li layout="row" layout-align="start center" style="max-height:32px">
            <input placeholder="{{ 'Tag' | translate }}" ng-model="newtag" />
            <md-progress-circular md-theme="red" md-mode="indeterminate" md-diameter="16" ng-show="canceler"></md-progress-circular>
            <md-button ng-hide="canceler" ng-click="addTag()"><i class="fa fa-plus"></i></md-button>
          </li>
        </ul>
      </div>
      <md-divider ng-show="keywordsTags"></md-divider>
      <div class="torrent-tags" layout="row" ng-show="keywordsTags" style="margin-top:8px">
        <ul class="tag-list">
          <li ng-repeat="tag in keywordsTags track by $index">
            <md-button ng-click="addKeywordsTag($index)">
              {{ tag | tagname }}
              <i class="fa fa-plus"></i>
            </md-button>
          </li>
          <li>
            <md-button ng-click="newtag = '';"><i class="fa fa-close"></i></md-button>
          </li>
        </ul>
      </div>
      <md-divider></md-divider>
      -->
      <div class="torrent-info">
          <b>{{ 'torrent content' | translate }}</b>
          <br/>
          <div id="files_tree" style="overflow:auto;"></div>
      </div>
    </div>
    <div id="my-teams" ng-show="!torrent._id || torrent.uploader_id == user._id" style="margin-top: 20px;">
      <p>{{ 'Publish Identity' | translate }}: {{ team ? (team.tag | tagname) : user.username }}</p>
      <md-item class="team-select-item small" style="margin-right: 10px" ng-class="{ selected: selectedTeamIndex == -1 }" ng-click="selectTeam(-1)">
        <div class="label"><span>{{user.username}}</span></div>
        <img ng-src="/avatar/{{user.emailHash}}" class="face" alt="{{user.username}}" />
      </md-item>
      <md-list ng-show="teams">
        <md-item class="team-select-item small" ng-class="{ selected: $index == selectedTeamIndex }" ng-repeat="t in teams track by $index" ng-click="selectTeam($index)">
          <div class="label"><span>{{t.tag ? (t.tag | tagname) : t.name}}</span></div>
          <img ng-src="{{t.icon ? ('/' + t.icon) : '/images/common/default-team-icon.gif'}}" class="face" alt="{{t.tag ? (t.tag | tagname) : t.name}}" />
        </md-item>
      </md-list>
    </div>
    <div ng-show="torrent._id && torrent.uploader_id != user._id" style="margin-top: 20px;">
      <p>{{ 'Publish Identity' | translate }}: {{ torrent.uploader.username }} {{ torrent.team ? '@[' + torrent.team.name + ']' : '' }}</p>
    </div>
    <md-checkbox ng-model="torrent.teamsync" ng-show="torrent.team_id && !torrent._id">{{ 'Team Sync' | translate }}</md-checkbox>
  </md-content>

  <div class="md-actions" layout="row" ng-show="showinfo">
    <span>{{message}}</span>
    <md-progress-circular md-theme="red" md-mode="indeterminate" md-diameter="16" ng-show="working"></md-progress-circular>
    <md-button ng-click="reupload()" class="md-warn">
      {{ 'Reupload' | translate }}
    </md-button>
    <md-button ng-click="furtheredit($event, false)" class="md-accent" ng-disabled="!selected_torrent">
      {{ 'Further Edit' | translate }}
    </md-button>
    <md-button ng-click="fastpublish()" class="md-primary" ng-disabled="!selected_torrent">
      {{ 'Fast Publish' | translate }}
    </md-button>
  </div>

</md-dialog>
