* {
    margin: 0;
    padding: 0;
}

html {
    font-family: RobotoDraft,Roboto,"Helvetica Neue","Hiragino Sans GB","冬青黑体","Microsoft YaHei","微软雅黑","文泉驿微米黑",sans-serif
}

body {
    height: auto !important;
}

a {
    text-decoration: none;
    transition-duration: 0.35s;
    color: #333333;
}

a:hover {
    text-shadow: 0 0 0.1em;
    text-decoration: none;
}

a#animated-header:hover {
    color: #F48FB1;
    text-shadow: 0 0 0.2em;
}

a.md-button:hover {
    text-shadow: none;
}

a#bangumi-list-current, a#bangumi-list-current i {
  color: white;
}

/*div#main, div#header {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1em 2em 0 rgba(50, 50, 50, 0.7);
    -webkit-box-shadow: 0 1em 2em 0 rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 0 1em 2em 0 rgba(50, 50, 50, 0.7);
    -o-box-shadow: 0 1em 2em 0 rgba(50, 50, 50, 0.7);
}*/

div#main {
    min-height: 100%;
    padding: 0 0 1em;
}

div#header {
    text-shadow: 0 0 0.1em;
    padding: 0 4em;
    transition-duration: 0.2s;
}

div#main {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0.5em 0 rgba(50, 50, 50, 0.7);
    -webkit-box-shadow: 0 0 0.5em 0 rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 0 0 0.5em 0 rgba(50, 50, 50, 0.7);
    -o-box-shadow: 0 0 0.5em 0 rgba(50, 50, 50, 0.7);
}

div#header.fixed-header {
    box-shadow: 0 0 2em 0 rgba(50, 50, 50, 0.7);
    -webkit-box-shadow: 0 0 2em 0 rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 0 0 2em 0 rgba(50, 50, 50, 0.7);
    -o-box-shadow: 0 0 2em 0 rgba(50, 50, 50, 0.7);
}

div#header.fixed-header + #main {
    padding-top: 64px;
}

#header.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    z-index: 11;
    background-color: rgba(255, 255, 255, 0.8);
}

#header.fixed-header h1 {
    font-size: 1.5em;
    margin: auto 0;
}

#header.fixed-header h3 {
    font-size: 0.9em;
}

#main > .content > md-content {
    overflow-x: hidden;
}

.msie #main > .content > md-content {
    overflow-y: hidden;
}

div#sidebar {
    position: absolute;
    z-index: 12;
}

div#sidebar .sb-left, div#sidebar .sb-right, div#sidebar .sb-right-sub {
    position: fixed;
    list-style: none;
    top: 2em;
}

div#sidebar .sb-left {
    left: 2em;
}

div#sidebar .sb-right, div#sidebar .sb-right-sub {
    right: 2em;
}

div#sidebar .sb-right-sub {
    top: 6.5em;
    width: 60px;
}

div#sidebar .scrollup {
    top: inherit;
    bottom: 2em;
    display: none;
    /* text-indent: -9999px; */
}

div#sidebar li {
    /* overflow: inherit;
    display: block; */
}

div#sidebar .sb-right-sub > li {
    margin: 10px auto 0;
}
div#sidebar .sb-right-sub li:first-child {
    margin-top: 2px;
}

.help-content {
    padding: 2em;
}

.siderbar-tooltip {
    /* position: fixed; */
    /* margin-top: -34px !important; */
    /* margin-left: -60px; */
}

.circular-label {
  font-size: .8571rem;

  min-width: 24px;
  min-height: 24px;
  padding: 6px;
  line-height: 12px;
  text-align: center;
  border-radius: 500rem;

  z-index: 3;
}

.circular-label.red {
  background-color: #d95c5c!important;
  border-color: #d95c5c!important;
  color: #fff!important;
}

h2.md-sticky-no-effect.md-subheader.md-default-theme {
    top: auto !important;
    min-height: 50px;
}

.inner-header {
    padding: 0 2em;
}

.inner-content {
    padding: 0 2em;
    margin: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}

.inner-content .torrent-row md-item-content, .inner-content .torrent-row md-divider {
    margin: 0 -2em;
    padding: 0 2em;
}

.bangumi-list {
    padding: 1em;
}

.bangumi-show {
}

.bangumi-top-title {
    position: fixed;
    top: 0;
    opacity: 0.8;
}

.bangumi-top-title + .inner-content {
    margin-top: 64px;
}

.bangumi-week {
    margin: 0 auto;
}

.bangumi-day {
    padding-top: 0;
    width: 14.28%;
    transition-duration: 0.2s;
    overflow: hidden;
}

.bangumi-day.selected {
    padding-top: 8px;
}

.bangumi-day img {
    width: 100%;
    transition: all .1s linear;
}

.bangumi-day a {
    width: 100%;
    padding: 1px;
    position: relative;
}

.bangumi-day a label {
    display: none;
    position: absolute;
    color: #dddddd;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.6);
}

.bangumi-day a:hover label {
    display: block;
}

.bangumi-day a:hover img {
    /*transform: scale(1.2);*/
}

.bangumi-list-item {
    margin: 0.5em;
}

.tag-list .md-button {
    text-transform: none;
}

.tag-list {
    -webkit-transition: max-height 0.8s cubic-bezier(0.17, 0, 0.83, 1);
    -moz-transition: max-height 0.8s cubic-bezier(0.17, 0, 0.83, 1);
    -o-transition: max-height 0.8s cubic-bezier(0.17, 0, 0.83, 1);
    transition: max-height 0.5s cubic-bezier(0.17, 0, 0.83, 1);
}

.tag-list .collapse-button {
    width: 100%;
    height: 24px;
    line-height: 12px;
    margin: 2px auto;
}

.tags-collapse {
    max-height: 32px;
    overflow: hidden;
}

.tags-collapse:hover {
    max-height: 600px;
}

.tags-collapse:hover .collapse-button {
    background-color: #F44336;
}

.torrent-tags {
    margin-bottom: 5px;
}

.torrent-tags ul {
    list-style: none;
}

.torrent-tags li {
    float: left;
    margin-left: 5px;
}

.torrent-tags li:first-child {
    margin-left: 0;
}

.torrent-tags input {
    width: 90px;
}

.torrent-list .md-tile-left {
  position: relative;

  /* height: 64px; */
  margin-top: 3px;
  margin-bottom: 3px;
  /* overflow: hidden; */
}

.torrent-list .md-tile-left .circular-label {
  position: absolute;
  top: -3px;
  right: -3px;
}

.torrent-list .md-tile-left img {
    width: 64px;
    height: 64px;
}

.torrent-list .md-tile-content {
    padding: 0.5em 2em 0.5em 2.2em;
    margin: 0
}

.torrent-list .torrent-publish-info {
  color: #a1887f;
}

.torrent-list .md-tile-content p:last-child {
    margin-bottom: 0;
}

.compact-torrent-list .torrent-row .face {
  border: none;
}

.compact-torrent-list .torrent-row md-item-content {
  /* max-height: 40px; */

  padding: 0 1em;

  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.compact-torrent-list .torrent-row .md-tile-left {
  margin-left: 0.5em;
  height: 32px;
  min-width: 32px;
  margin-right: 5px;
}

.compact-torrent-list .torrent-row .md-tile-left label {
  min-width: 16px;
  min-height: 16px;
  font-size: 0.5em;
  padding: 2px;
}

.compact-torrent-list .torrent-row .md-tile-left img {
  width: 32px;
  height: 32px;

  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.compact-torrent-list .torrent-row .torrent-title h3 {
  font-size: 1em;
}

.compact-torrent-list .torrent-row .md-tile-content {
  position: relative;
  padding: 0.5em;
}

.compact-torrent-list .torrent-row .torrent-stats {
  max-width: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;

  position: absolute;
  top: -1px;
  right: 2px;
  font-size: 0.5em;
  float: left;
}

.compact-torrent-list .torrent-row .torrent-title {
  max-width: 100%;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.compact-torrent-list .torrent-row .torrent-publish-info {
  display: none;
}

.compact-torrent-list .torrent-row .torrent-list-stats .stats-icon {
  display: none;
}

.compact-torrent-list .torrent-row .torrent-list-stats {
  color: white !important;
  max-width: none !important;
  -webkit-flex: none !important;
  -ms-flex: none !important;
  flex: none !important;

  padding: 2px 4px;
}

.compact-torrent-list .torrent-row .torrent-list-stats:first-child {
  border-radius: 0 0 0 .2857rem;
  background-color: #5c5594;
}

.compact-torrent-list .torrent-row .torrent-list-stats:nth-child(2) {
  background-color: #458ac6;
}

.compact-torrent-list .torrent-row .torrent-list-stats:nth-child(3) {
  background-color: #00c4bc;
}

.compact-torrent-list .torrent-row .torrent-list-stats:last-child {
  border-radius: 0 0 .2857rem 0;
  background-color: #66c17b;
}

/*
.compact-torrent-list .torrent-row:hover .torrent-stats {
max-width: 28%;
-webkit-flex: 0 0 28%;
-ms-flex: 0 0 28%;
flex: 0 0 28%;
}

.compact-torrent-list .torrent-row:hover .md-tile-content {
padding: 0.5em 0 0.5em 2.2em;
}

.compact-torrent-list .torrent-row:hover .md-tile-left {
margin-left: 0;
height: 64px;
}
.compact-torrent-list .torrent-row:hover .torrent-title {
max-width: 72%;
-webkit-flex: 0 0 72%;
-ms-flex: 0 0 72%;
flex: 0 0 72%;
}

.compact-torrent-list .torrent-row:hover .torrent-title h3 {
  font-size: 1.1em;
}

.compact-torrent-list .torrent-row:hover md-item-content {
  max-height: 120px;
  padding: 0 2em;
}

.compact-torrent-list .torrent-row:hover .md-tile-left img {
  width: 64px;
  height: 64px;
}

.compact-torrent-list .torrent-row:hover .md-tile-left label {
  display: block;
}

.compact-torrent-list .torrent-row:hover .torrent-list-stats .stats-icon {
  display: block;
}

.compact-torrent-list .torrent-row:hover .torrent-publish-info {
  display: block;
}
*/

.md-item-simple {
    cursor: pointer;

    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
}

.md-item-simple:hover {
    background-color: #eeeeee;
}

.md-item-raised {

}

.md-item-raised:hover {
/*    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */
    cursor: pointer;
    box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 0.26),
                0 -10px 10px -7px rgba(0, 0, 0, 0.26);
    transform: translate3d(0px, 0px, 0px);
    transition: box-shadow 0.5s cubic-bezier(0.35, 0, 0.25, 1) 0s, background-color 0.5s cubic-bezier(0.35, 0, 0.25, 1) 0s, transform 0.5s cubic-bezier(0.35, 0, 0.25, 1) 0s;
}

.face {
    border-radius: 32px;
    border: 1px solid #ddd;
}

/* FAB */
.fab {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);

    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
}

.msie .fab {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.fab.fab-small {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.fab.fab-image {
    padding: 0 !important;
    overflow: hidden !important;
}

.fab.fab-image img {
    width: 100%;
}

.fab.black {
    background-color: #111111;
}

.fab.red {
    background-color: #d23f31;
}

.fab.purple {
    background-color: #9575cd;
}

.fab.blue {
    background-color: #4285f4;
}

.fab.orange {
    background-color: #ff9800;
}

.fab.brown {
    background-color: #a1887f;
}

.fab.green {
    background-color: #0f9d58;
}

.fab.black:hover {
    background-color: #010101;
}

.fab.red:hover {
    background-color: #c22f21;
}

.fab.purple:hover {
    background-color: #8565bd;
}

.fab.blue:hover {
    background-color: #3275e4;
}

.fab.orange:hover {
    background-color: #ef8800;
}

.fab.brown:hover {
    background-color: #91786f;
}

.fab.green:hover {
    background-color: #008d48;
}

.fab i {
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    /* transition-delay: 0.2s; */
}

.fab.fab-small i {
    transition: none;
}

.fab:hover i {
    transform: rotate(360deg);
}

.fab > core-icon {
    margin: 16px;
}

.fab > core-icon::shadow path {
    fill: #fff;
}

div#bangumi-timeline-embed {
    margin-bottom: 1em !important;
}

div#bangumi-timeline-embed #storyjs-timeline {
    z-index: inherit;
}

div#bangumi-timeline-embed #storyjs-timeline .timenav-indicator,
div#bangumi-timeline-embed #storyjs-timeline .vco-toolbar,
div#bangumi-timeline-embed #storyjs-timeline .top-highlight  {
    z-index: 10;
}

div#bangumi-timeline-embed .layout-text-media  {
    margin: 0 auto;
}

.content {
    min-height: 800px;
}

md-content.md-default-theme {
    background-color: rgba(255, 255, 255, 0);
}

.md-tabs-full-height {
    height: 100%;
    min-height: 64px;
}

.md-header {
    /*
    height: 100%;
    min-height: 64px;
    */
    height: 64px;
}

.md-subheader {
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
}

.md-button {
    line-height: 1.25;
}

.md-default-theme .md-subheader {
    background-color: #dcedc8;
    margin: 0px;
}

.md-default-theme md-content h2.md-subheader {
    margin: 0px;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
}

.md-default-theme h2.md-subheader + md-content {
    padding-top: 5px;
}

.md-default-theme h2.md-subheader.md-sticky-clone {
    margin-right: 0px;
    margin-top: 0px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.md-default-theme h2 .md-subheader-content {
    padding-left: 10px;
    line-height: initial;
}

.md-default-theme .md-subheader + .md-subheader {
    margin-top: 0;
}

.md-red-theme.md-subheader {
    background-color: #f44336;
}

md-backdrop.md-opaque.md-default-theme {
    position: fixed !important;
    z-index: 14;
}

.msie md-dialog {
    margin: inherit;
}

.msie md-dialog md-content {
}

.msie md-tab md-tab-label {
    text-align: center;
    overflow: visible;
    min-width: 64px;
}

.msie .vco-slider .slider-item {
    -overflow-y: hidden !important;
    -ms-overflow-y: hidden !important;
}

.msie .vco-slider .slider-item .content {
    display: block;
    /*height: 281px;*/
    margin-top: 32px;
}

.md-dialog-container {
    position: fixed;
    z-index: 15;
}

.md-dialog-container.modal {
  overflow-y: auto;
  padding: 50px 0;
}

body.modal-open {
  overflow: hidden;
}

.md-dialog-close, .md-dialog-edit {
    float: right;
    cursor: pointer;
    margin:-6px 16px 0 0;
}

.md-dialog-edit {
    color: #4285f4;
}

.md-dialog-container.modal md-dialog {
    max-height: none;
}

.md-dialog-container.modal md-dialog md-content {
    overflow: hidden;
    min-height: 200px;
}

md-dialog md-tabs .md-header {
    min-height: 48px;
}

md-dialog.user-dialog, md-dialog.team-dialog, md-dialog.bangumi-dialog, md-dialog.torrent-details-dialog {
    width: 900px;
    /* max-width: 100%; */
}

md-dialog.team-dialog .face {
    border-radius: 50%;
    border: 1px solid #ddd;
    width: 80px;
    height: 80px;
    margin: 10px 20px 10px 10px;
}

md-dialog.team-dialog .team-icon {
    float: right;
    width: 100px;
}

md-dialog.team-dialog .team-icon img {
    width: 100%;
}

md-dialog section.toolbar {
    min-height: 64px;
}

.toolbar-icons a {
    margin-left: 8px;
}

.long {
    max-width: 100%;
}

.team-select-item {
  display: inline-block;
  margin: 0 8px 8px 0;
  cursor: pointer;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);

  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.team-select-item:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.team-select-item .label {
  position: absolute;

  overflow: hidden;

  color: white;
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  /* border: 1px solid #ddd; */
  width: 80px;
  height: 80px;

  text-align: center;
  line-height: 80px;

  transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
}

.team-select-item.selected .face {
  border-width: 2px;
  border-color: rgb(33,150,243);
}

.team-select-item.small {
  margin: 0 5px 5px 0;
}

.team-select-item.small .label {
  width: 48px;
  height: 48px;

  line-height: 48px;
}

.team-select-item.small .label span {
  display: none !important;
}

.team-select-item .face {
  width: 80px;
  height: 80px;

  border-radius: 50%;
}

.team-select-item.small .face {
  width: 48px;
  height: 48px;
}

.team-select-item .label span {
  display: none;
}

.team-select-item:hover .label span {
  display: block;
}

.team-select-item:hover .label {
  background-color: rgba(0,0,0,0.3);
}

.team-select-item .face {
  margin: 0 !important;
}

.torrent-title-search .long {
    width: 100%;
}
.torrent-title-search .long > input {
    width: 100%;
}

md-input-group.long > input {
    width: 600px;
    max-width: 100%;
}

.torrent-search .md-button {
    padding: 12px;
}

.torrent-search .md-button + .md-button {
    margin-left: 6px;
}

input[type="file"] {
    max-width: 100%;
}

/*
.fa-icon {
    position: relative;
    top: -25%;
}
*/

.flat-button {
    background-color: rgba(158,158,158,0.16);
    color: black;
    transition: background-color .2s cubic-bezier(0.35,0,.25,1),color .2s cubic-bezier(0.35,0,.25,1);
    -webkit-transition: background-color .2s cubic-bezier(0.35,0,.25,1),color .2s cubic-bezier(0.35,0,.25,1);
    -moz-transition: background-color .2s cubic-bezier(0.35,0,.25,1),color .2s cubic-bezier(0.35,0,.25,1);
    -o-transition: background-color .2s cubic-bezier(0.35,0,.25,1),color .2s cubic-bezier(0.35,0,.25,1);
}

.md-default-theme .md-default-theme.flat-button:hover {
    background-color: rgb(33,150,243);
    color: white;
}

.md-red-theme + .inner-content .flat-button:hover {
    background-color: #F44336;
    color: white;
}

.md-pink-theme + .inner-content .flat-button:hover {
    background-color: #E91E63;
    color: white;
}

.md-purple-theme + .inner-content .flat-button:hover {
    background-color: #9C27B0;
    color: white;
}

.md-blue-theme + .inner-content .flat-button:hover {
    background-color: #2196F3;
    color: white;
}

.md-cyan-theme + .inner-content .flat-button:hover {
    background-color: #00BCD4;
    color: white;
}

.md-green-theme + .inner-content .flat-button:hover {
    background-color: #4CAF50;
    color: white;
}

.md-deep-orange-theme + .inner-content .flat-button:hover {
    background-color: #FF5722;
    color: white;
}

.tag-button {
    line-break: normal;
}

.tag-locale, .tag-type {
    height: 25px;
    width: 60px;
    margin-top: 20px !important;
    margin-right: 20px;
}

.tag-type {
    width: 75px;
}

.torrent-stats {
  max-width: 28%;
  -webkit-flex: 0 0 28%;
  -ms-flex: 0 0 28%;
  flex: 0 0 28%;
}

.torrent-title {
    max-width: 72%;
    -webkit-flex: 0 0 72%;
    -ms-flex: 0 0 72%;
    flex: 0 0 72%;
}

.torrent-details-div {
    margin: 0.5em;
}

.introduction-to-signature {
    margin: 5px 0;
}

.torrent-introduction img, .team-signature img {
    max-width: 100%;
}

.torrent-info {
    margin: 0.5em 0;
    font-size: 0.85em;
}

.torrent-info a.title-link {
    text-decoration: none;
}

.torrent-info a, .torrent-info a:hover {
    color: #0099FF;
    text-decoration: underline;
}

.torrent-info .torrent-tags {
    margin-bottom: 0;
}

.torrent-info:first-child {
    margin-top: 0;
}

.torrent-info .filesize {
  color: grey;
}

.torrent-details-content {
    padding: 1em;
}

.torrent-list-stats {
    text-align: center;
}

.torrent-sync-status {
    word-break: break-all;
}

.torrent-row:hover .torrent-edit {
    visibility: visible;
}

.torrent-edit {
    position: relative;
    float: right;
    margin-left: 10px;
    visibility: hidden;
}

.torrent-edit i.fa-remove {
    color: red;
}

.datetimepicker {
    font-size: 0.5em;
}
.datetimepicker table {
    margin: 0 auto;
    width: 100%;
}

span.label {
    font-size: 0.75em;
}

div#footer {
    margin: 30px auto 0;
    font-size: 0.75em;
}

div#footer .footer-info {
    margin: 0 auto;
    width: 500px;
    max-width: 100%;
    text-align: center;
}

div#footer .footer-info .divider {
    margin: 0 8px;
}

div#footer ul {
    margin: 0 auto;
    list-style: none;
}
div#footer li {
    float: left;
    margin-left: 12px;
}

/* Gradient transparent - color - transparent */
hr.gradient {
    border: 0;
    width: 100%;
    height: 1px;
    margin: 5px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

input[type="button"], button {
    color: black;
}

@media only screen and (max-width: 600px) {
    div#main {
        width: inherit;
    }
    div#header {
        padding: 0 1em;
    }
    .inner-content {
        padding: 0;
    }
    .torrent-list .md-tile-content {
        padding-left: 1.5em;
        padding-right: 0;
    }
    .torrent-title {
        max-width: 100% !important;
        -webkit-flex: 0 0 100% !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
    }
    .compact-torrent-list .torrent-row .md-tile-left {
        margin-left: 1.1em;
    }
    .torrent-stats {
        display: none;
    }
    .torrent-details-content {
        padding: 0.5em;
    }
    .md-dialog-container.modal {
        padding: 20px 0;
    }
    md-dialog {
        max-width: 90%;
        max-height: 90%;
    }
    .md-dialog-container.modal md-dialog {
        max-height: none;
    }
    md-dialog md-content {
        padding: 5px;
    }
    .user-avatar {
        right: 0;
        margin-right: 5px;
    }
    .user-avatar img {
        width: 64px;
    }

    .fab {
        width: 56px;
        height: 56px;
        font-size: 18px;
        line-height: 56px;
    }

    .fab.fab-small {
        width: 32px;
        height: 32px;
        line-height: 32px;
    }

    div#sidebar .sb-right-sub {
        width: 56px;
    }
}

/* override timelinejs */
.vco-storyjs .vco-feature h3 {
    font-family: RobotoDraft,Roboto,"Helvetica Neue","Hiragino Sans GB","冬青黑体","Microsoft YaHei","微软雅黑","文泉驿微米黑",sans-serif !important;
}

#redactor-modal #redactor-image-url-box .image-size {
    margin-top: 8px;
}

#redactor-modal #redactor-image-url-box .image-size * {
    margin-right: 8px;
}

#redactor-modal #redactor-image-url-box .image-size input {
    display: inline-block;
}

#redactor-modal #redactor-image-url-box .image-size input[type="text"] {
    width: 50px;
}
