* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/images/bg/testbg1.png') !important;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    height: auto !important;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-shadow: 0 0 0.1em;
    transition-duration: 0.35s;
    text-decoration: none;
}

a#animated-header:hover {
    color: #F48FB1;
    text-shadow: 0 0 0.2em;
}

div#main {
    min-height: 100%;
    width: 80%;
    margin: auto;
    padding: 0 0 1em;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 2em 0 rgba(50, 50, 50, 0.7);
    -webkit-box-shadow: 0 0 2em 0 rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 0 0 2em 0 rgba(50, 50, 50, 0.7);
    -o-box-shadow: 0 0 2em 0 rgba(50, 50, 50, 0.7);
}

div#header {
    text-shadow: 0 0 0.1em;
    padding: 0 4em;
}

div#sidebar {
    position: absolute;
    z-index: 2;
}

div#sidebar .sb-left, div#sidebar .sb-right {
    position: fixed;
    list-style: none;
    top: 2em;
}

div#sidebar .sb-left {
    left: 2em;
}

div#sidebar .sb-right {
    right: 2em;
}

.inner-header {
    padding: 0 2em;
}

.inner-content {
    padding: 0 2em;
    margin: auto;
    width: 100%;
}

.bangumi-list {
    padding: 1em;
}

.bangumi-list-item {
    margin: 0.5em;
}

/* FAB */
.fab {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 56px;
    font-size: 18px;
    text-align: center;
    padding: 19px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.fab.red {
    background-color: #d23f31;
}

.fab.blue {
    background-color: #4285f4;
}

.fab.green {
    background-color: #0f9d58;
}

.fab.red:hover {
    background-color: #c22f21;
}

.fab.blue:hover {
    background-color: #3275e4;
}

.fab.green:hover {
    background-color: #008d48;
}

.fab i {
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    /* transition-delay: 0.2s; */
}

.fab:active i {
    transform: rotate(360deg);
}

.fab:active {
    /*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.4);*/
}

.fab > core-icon {
    margin: 16px;
}

.fab > core-icon::shadow path {
    fill: #fff;
}

div#bangumi-timeline-embed {
    margin-bottom: 1em !important;
}

div#bangumi-timeline-embed #storyjs-timeline {
    z-index: inherit;
}

div#bangumi-timeline-embed #storyjs-timeline .timenav-indicator,
div#bangumi-timeline-embed #storyjs-timeline .vco-toolbar {
    z-index: 10;
}

.content {
/*    height: 100%;*/
}

md-content.md-default-theme {
    background-color: rgba(255, 255, 255, 0);
}

.md-tabs-full-height {
    height: 100%;
    min-height: 64px;
}

.md-header {
    height: 100%;
    min-height: 64px;
}

.md-default-theme .md-subheader {
    background-color: #dcedc8;
    margin: 0px;
}

.md-default-theme h2.md-subheader {
    margin: 0px;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
}

.md-default-theme h2.md-subheader.md-sticky-clone {
    margin-right: 0px;
    margin-top: 0px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.md-default-theme h2 .md-subheader-content {
    padding-left: 10px;
}

md-backdrop.md-opaque.md-default-theme {
    position: fixed !important;
    z-index: 11;
}

.md-dialog-container {
    position: fixed;
    z-index: 12;
}

/*
.fa-icon {
    position: relative;
    top: -25%;
}
*/

.md-item-raised {

}

.md-item-raised:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.26);
    transform: translate3d(0px, 0px, 0px);
    transition: box-shadow 0.5s cubic-bezier(0.35, 0, 0.25, 1) 0s, background-color 0.5s cubic-bezier(0.35, 0, 0.25, 1) 0s, transform 0.5s cubic-bezier(0.35, 0, 0.25, 1) 0s;
}
